<div id="select-function">
    <div class="message-area">
      <p class="message"></p>
    </div>
    <div id="select-container">
      <div class="left-button">
        <button class="left-content on-click-button" (click)="startChime('2', false)" ontouchstart="">研修事業部</button>
      </div>
      <div class="right-button">
        <button class="right-content on-click-button" (click)="startChime('1', false)" ontouchstart="">総合受付</button>
      </div>
      <div class="left-button">
          <button class="left-content bottom-button on-click-button" (click)="startChime('4', false)" ontouchstart="">人事部</button>
        </div>
        <div class="right-button">
          <button class="right-content bottom-button on-click-button" (click)="startChime('3', false)" ontouchstart="">システム開発部</button>
        </div>
    </div>
    <a routerLink="/">
    <div id="back-home-container">    
        <h3 class="font-size-30 back-button">トップへ戻る</h3>
    </div>
    </a>
  </div>