<div id="select-function">
    <div id="select-container">
      <div class="left-button">
        <button class="left-content" (click)="startChime(2, false)">研修事業部</button>
      </div>
      <div class="right-button">
        <button class="right-content" (click)="startChime(1, false)">総合受付</button>
      </div>
      <div class="left-button">
          <button class="left-content bottom-button" (click)="startChime(4, false)">人事部</button>
        </div>
        <div class="right-button">
          <button class="right-content bottom-button" (click)="startChime(3, false)">システム開発部</button>
        </div>
    </div>
    <a routerLink="/">
    <div id="back-home-container">    
        <h3 class="font-size-30 back-button">トップへ戻る</h3>
    </div>
    </a>
  </div>