<div id="select-button-container">
    <div class="description-area">
        <p class="font-size-35">11月生一覧:02月01日</p>
        <h4 class="manner">名前をタップしていただくと出席となります。</h4>
    </div>
      <div class="student-container">
          <button class="student-left-button button-animation" (click)="insertAttendData(1, true)" ngDefaultControl ontouchstart="">田中太郎さん</button>
          <button class="student-rigth-button button-animation" ontouchstart="">佐藤幸次さん</button>
          <button class="student-rigth-button button-animation" ontouchstart="">加藤正幸さん</button>
          <button class="student-rigth-button button-animation" ontouchstart="">遠藤隆司さん</button>
          <button class="student-rigth-button button-animation" ontouchstart="">佐藤香さん</button>
      </div>
      <div class="student-container">
          <button class="student-left-button button-animation" ontouchstart="">田中太郎さん</button>
          <button class="student-rigth-button button-animation" ontouchstart="">佐藤幸次さん</button>
          <button class="student-rigth-button button-animation" ontouchstart="">加藤正幸さん</button>
          <button class="student-rigth-button button-animation" ontouchstart="">遠藤隆司さん</button>
          <button class="student-rigth-button button-animation" ontouchstart="">佐藤香さん</button>
      </div>
      <div class="student-container">
        <button class="student-left-button button-animation" ontouchstart="">田中太郎さん</button>
        <button class="student-rigth-button button-animation" ontouchstart="">佐藤幸次さん</button>
        <button class="student-rigth-button button-animation" ontouchstart="">加藤正幸さん</button>
        <button class="student-rigth-button button-animation" ontouchstart="">遠藤隆司さん</button>
        <button class="student-rigth-button button-animation" ontouchstart="">佐藤香さん</button>
      </div>
      <div class="student-container">
        <button class="student-left-button button-animation" ontouchstart="">田中太郎さん</button>
        <button class="student-rigth-button button-animation" ontouchstart="">佐藤幸次さん</button>
        <button class="student-rigth-button button-animation" ontouchstart="">加藤正幸さん</button>
        <button class="student-rigth-button button-animation" ontouchstart="">遠藤隆司さん</button>
        <button class="student-rigth-button button-animation" ontouchstart="">佐藤香さん</button>
      </div>
      <div class="student-container">
        <button class="student-left-button button-animation" ontouchstart="">田中太郎さん</button>
        <button class="student-rigth-button button-animation" ontouchstart="">佐藤幸次さん</button>
        <button class="student-rigth-button button-animation" ontouchstart="">加藤正幸さん</button>
        <button class="student-rigth-button button-animation" ontouchstart="">遠藤隆司さん</button>
        <button class="student-rigth-button button-animation" ontouchstart="">佐藤香さん</button>
      </div>
  </div>
  <a routerLink="/monthselect/"><div id="back-month-container">    
    <h3 class="font-size-30 back-button">月へ戻る</h3>
  </div></a>