<ng-container *ngIf="displayFlg; then student"></ng-container>
<ng-container *ngIf="displayFlg; else month"></ng-container>

<ng-template #month>
    <div id="select-button-container">
        <div class="student-select">
            <button class="left-button button-animation" [(ngModel)]="nightStudent" (click)="changeSelectStudent(0)" ngDefaultControl ontouchstart="">昼間受講生</button>
            <button class="right-button button-animation" [(ngModel)]="nightStudent" (click)="changeSelectStudent(1)" ngDefaultControl ontouchstart="">夜間受講生</button>
        </div>
    <ng-container *ngIf="nightStudent == 0">
        <div class="first-container">
            <span *ngFor="let monthParam of monthSelectParameter.monthList;">
                <button class="left-button button-animation" (click)="studentSelect(monthParam.startMonthYear, monthParam.month)" ontouchstart="">{{monthParam.month}}月生</button>
            </span>
        </div>
    </ng-container>
    <ng-container *ngIf="nightStudent == 1">
        <div class="first-container">
            <span *ngFor="let monthParam of monthSelectParameter.monthList;">
                <button class="left-button button-animation" (click)="studentSelect(monthParam.startMonthYear, monthParam.month)" ontouchstart="">{{monthParam.month}}月生</button>
            </span>
        </div>
    </ng-container>
    </div>
    <a routerLink="/">
        <div id="back-home-container">    
            <h3 class="font-size-30 back-button">トップへ戻る</h3>
        </div>
    </a>
</ng-template>
<ng-template #student>
    <app-student-select [monthStudentParameter]="monthStudentParameter" [selectMonth]="selectMonth"></app-student-select>
</ng-template>