#select-button-container {
    width: 1024px;
    height: 520px;
}

.student-select {
    width: 1024px;
    height: 150px;
    text-align: center;
}

.first-container {
    width: 800px;
    height: 320px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 110px;
}

.second-container {
    width: 1024px;
    height: 165px;
    text-align: center;
}

.right-button {
    margin-top: 25px;
    height: 100px;
    width: 200px;
    margin-left: 80px;
}

.left-button {
    height: 100px;
    width: 200px;
    margin-top: 25px;
    margin-left: 25px;
}

.back-button {
    padding-top: 40px;
}