#select-function {
    width: 1024px;
    height: 690px;
}

#select-container {
    width: 1024px;
    height: 350px;
    padding-top: 250px;
    text-align: center;
}

.student {
    width: 320px;
    height: 100px;
    padding-left: 0px;
}

.chime {
    width: 320px;
    height: 100px;
}

.left-button {
    width: 420px;
    margin-left: 310px;
}

.right-button {
    width: 420px;
    margin-left: 65px;
    float: left;
}